@page
@model NewsReport.Pages.NewsCategoryAdmin.IndexModel

@{
    ViewData["Title"] = "จัดการหัวข้อประเภทร้านอาหาร";
}

<h2>จัดการหัวข้อประเภทร้านอาหาร</h2>

<p>
    <a asp-page="Create">สร้างหัวข้อประเภทร้านอาหารใหม่</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ประเภทร้านอาหาร
            </th>
            <th>
                ชื่อเต็มประเภทร้านอาหาร
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.NewsCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NewsCategoryID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NewsCategoryID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NewsCategoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
