@page
@using Microsoft.AspNetCore.Identity
@using NewsReport.Models

@model NewsReport.Pages.NewsAdmin.CreateModel
@inject SignInManager<NewsUser> SignInManager
@inject UserManager<NewsUser> UserManager

@{
    ViewData["Title"] = "รีวิว";
}

<h2>สร้างการรีวิว</h2>

<h4>กรอกข้อมูลต่อไปนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                เลือกประเภทร้านอาหาร
                <select asp-for="News.NewsCategoryID" class ="form-control" asp-items="ViewBag.NewsCategoryID"></select>
            </div>
            <div class="form-group">
                วันที่
                <input asp-for="News.Res" class="form-control" />
                <span asp-validation-for="News.Res" class="text-danger"></span>
            </div>
            <div class="form-group">
                ชื่อร้าน
                <input asp-for="News.ReportDate" class="form-control" />
                <span asp-validation-for="News.ReportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                รีวิว
                <input asp-for="News.ResDetail" class="form-control" />
                <span asp-validation-for="News.ResDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                ละติจูดของร้าน
                <input asp-for="News.GpsLat" class="form-control" />
                <span asp-validation-for="News.GpsLat" class="text-danger"></span>
            </div>
            <div class="form-group">
                ลองจิจูดของร้าน
                <input asp-for="News.GpsLng" class="form-control" />
                <span asp-validation-for="News.GpsLng" class="text-danger"></span>
            </div>
            <div class="form-group">
                คะแนนรีวิว
                <select asp-for="News.ResStatus" class="form-control" >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select>
                <span asp-validation-for="News.ResStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                โพสโดย: @UserManager.GetUserName(User);
                <input asp-for="News.NewsUserId"
                        type="hidden"
                value="@UserManager.GetUserId(User)"/>

            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
