@page
@model NewsReport.Pages.NewsAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.News.NewsCat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsCat.NewsCategoryID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News.Res)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.ReportDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News.ReportDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.Res)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News.ResDetail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.ResDetail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News.GpsLat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News.GpsLng)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLng)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News.ResStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.ResStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News.postUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.postUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.News.NewsID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
