@page
@model NewsReport.Pages.NewsAdmin.IndexModel

@{
    ViewData["Title"] = "การรีวิวทั้งหมดในระบบ";
}

<h2>การรีวิวทั้งหมดในระบบ</h2>

<p>
    <a asp-page="Create">สร้างการรีวิว</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.News[0].NewsCat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.News[0].Res)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.News[0].ReportDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.News[0].ResDetail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.News[0].GpsLat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.News[0].GpsLng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.News[0].ResStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.News[0].postUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.News) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsCat.NewsCategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Res)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsLng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postUser.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NewsID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NewsID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NewsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
